app/code/community/*
app/code/core/*
cgi-bin/*
downloader/*
errors/*
includes/*
js/*
lib/*
shell/*
var/*
media/*
dev/*
demo.bonfect.com.au/*
SalesTalk/*
shell/*
testing/*
skin/install/*
skin/adminhtml/*
skin/frontend/default/*
skin/frontend/rwd/*
app/locale/*